<div class='col-xs-6 container' style='height: 420px'>
<img style='width: 394px'src='{{model.image}}' /><br />
</div>
<div class='col-xs-6 container' style='height: 420px'>
<h3>{{model.title}}</h3>
{{model.content}}<br />
by: {{model.author}}
</div>
<div>
  {{edit-news new=model update='update'}}
</div>
